*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: url('images/rig image/p6.jpg') no-repeat;
    background-size: cover;
    color: #fff;
}

.registration-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

.registration-form h1 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
}

.registration-form p {
    font-size: 15px;
    margin: 5px 0;
}

.registration-form input {
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline: none;
}

.registration-form botton {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
}

.registration-form button:hover {
    background-color: green;
}